
p {
    color: lightyellow;
}
body {
    background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), 
                url("/images/background.jpg") 
}
nav {
    float: top right;
}
h2{
    color:fuchsia;	
}
h3{
    color:lightblue;
}
h4{
    color: aliceblue;
}
#menu{
    font-size: 110%;
    list-style-type: none;
    letter-spacing: 4px;
}

#logo, #menu{
    line-height: 50px;
}

#menu li {
    float: right;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: white;
}

#menu a:hover{
    border-bottom: 1px solid #f5f2f2;
}
.active{
    border-bottom: 1px solid #f5f4f4;
}
#hero-image{
    height:500px;
    width: 100%;
    animation-name: hero-zoom;
    animation-duration: 6s;
    animation-fill-mode: forwards;
}

#hero-outer{
    height:500px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

@keyframes hero-zoom {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.2);
    }
}

#cover-text, #cover-text h2 {
    color: #ffffff;
}

#cover-text h3 {
    color: aliceblue;
}

#cover-text {
    font-size: 160%;
    font-family: Oswald;
    text-transform: uppercase;
    letter-spacing: 3px;

    width: 250px;
    height: 270px;

    padding-top: 40px;
    padding-left: 10px;

    background-color: rgba(195, 134, 196, .7);

    bottom: 30px;
    right: 150px;

    position: absolute;

}

.tour {
    border:solid 5px;
}
.column {
    float: left;
    width: 30%;
    padding: 5px;
  }
.row {
    margin : 5px;
}
 
footer{
    height: 150px;
}

.social-networks{
    text-align: center;

}

.social-networks li{
    display: inline;
}

.social-networks i{
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #f0e9e9;
}

/* Testimonials */

.quote {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  color: #9e9e9e;
  display: inline-block;
  font-family: Arial, sans-serif;
  font-size: 16px;
  margin: 35px 10px 10px;
  max-width: 310px;
  min-width: 250px;
  position: relative;
  text-align: center;
  width: 100%;
  background-color: #ffffff;
  border-radius: 5px;
  border-top: 5px solid #d2652d;
}


.quote figcaption {
  padding: 13% 10% 12%;
}

.quote figcaption:before {
    
    transform: translateX(-50%);
    background-color: #f7dff1;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    color: #d2652d;
    content: "";
    font-family: 'FontAwesome';
    font-size: 32px;
    left: 50%;
    line-height: 60px;
    position: absolute;
    top: -40px;
    width: 50px;
  }

.quote h3 {
  color: #3c3c3c;
  font-size: 20px;
  font-weight: 300;
  line-height: 24px;
  margin: 10px 0 5px;
}

.quote h4 {
  font-weight: 400;
  margin: 0;
  opacity: 0.5;
  color:#f500b8;
}

.quote blockquote {
  font-style: italic;
  font-weight: 300;
  margin: 0 0 20px;
}

/* MEDIA */

@media screen and (max-width: 1396px){
    

    #welcome {
        padding: 30px 0;
        margin-top: 0;
    }

    hr {
        display: none;
    }
}

@media screen and (max-width: 943px){

    #menu{
        clear: left;
        float: left;
        margin-left: 10px; 
        margin-bottom: 20px;
        line-height: 25px;
    }

    #cover-text{
        left:0px;
    }
    
}

@media screen and (max-width: 800px){
    
    #hero-image {
        height: 300px;
    }
    #hero-outer {
        height: 300px;
    }
}

/*Carousel */

$carousel-control-color:             $white;
$carousel-control-width:             15%;
$carousel-control-opacity:           .5;
$carousel-control-hover-opacity:     .9;
$carousel-control-transition:        opacity .15s ease;

$carousel-indicator-width:           30px;
$carousel-indicator-height:          3px;
$carousel-indicator-hit-area-height: 10px;
$carousel-indicator-spacer:          3px;
$carousel-indicator-opacity:         .5;
$carousel-indicator-active-bg:       $white;
$carousel-indicator-active-opacity:  1;
$carousel-indicator-transition:      opacity .6s ease;

$carousel-caption-width:             70%;
$carousel-caption-color:             $white;
$carousel-caption-padding-y:         1.25rem;
$carousel-caption-spacer:            1.25rem;

$carousel-control-icon-width:        2rem;

$carousel-control-prev-icon-bg:      url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$carousel-control-color}'><path d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/></svg>");
$carousel-control-next-icon-bg:      url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$carousel-control-color}'><path d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/></svg>");

$carousel-transition-duration:       .6s;
$carousel-transition:                transform $carousel-transition-duration ease-in-out; // Define transform transition first if using multiple transitions (e.g., `transform 2s ease, opacity .5s ease-out`)